<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Ex2.FacebookApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_LanguageService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://api.microsofttranslator.com/V1/soap.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_LanguageService"
          contract="MicrosoftTranslator.LanguageService" name="BasicHttpBinding_LanguageService" />
    </client>
  </system.serviceModel>
  <applicationSettings>
        <Ex2.FacebookApp.Properties.Settings>
            <setting name="BingTranslateClientID" serializeAs="String">
                <value>dp_ex2</value>
            </setting>
            <setting name="BingTranslateSecretKey" serializeAs="String">
                <value>ubJB8b5HFVOgV8Z1i1xY4vKI7hd613JzBRWt9Ip0CNM=</value>
            </setting>
        </Ex2.FacebookApp.Properties.Settings>
    </applicationSettings>
</configuration>
